server:
    port: 8083

spring:
    application:
        name: notification-service
    mail:   
        host: stmp.gmail.com
        port: 587
        username: vunguyens3rdvvv2919@gmail.com
        password: ${PASS} # App password
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
        test-connection: false

    kafka:
        bootstrap-servers: kafka:9093
        consumer:
            group-id: notification-group
            auto-offset-reset: earliest
            key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
            properties:
                spring.json.trusted.packages: "*"
                spring.json.type.mapping: "com.aeternus.user_service.dto.UserRegisteredEvent:com.aeternus.notification_service.dto.UserRegisteredEvent"
