version: '3.8'
services:
  ai-service:
    build: .
    image: ai-service-app
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - NODE_ENV=production
      - CROS_ORIGIN=http://localhost:5173
      - GEMINI_API_KEY=AIzaSyAJJ0IgTgl0URXqHqvG-XreLCXoDJ8KSAI
      - GEMINI_API_SECRET=your_gemini_api_secret_here
      # - GEMINI_MODE=gemini-1.5-flash
    networks:
      - my-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on_failure
    # depend_on:
      #- mongodb -> Nếu có cơ sở dữ liệu
networks:
  my-network:
    driver: bridge
      
