spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
  application:
    name: note-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/collaboration_notes_db
server:
  port: 8082
logging:
  level:
    org.springframework.data.mongodb: DEBUG
    com.smartnote.noteservice: DEBUG