server: 
    port: 8761

spring:
    application:
        name: discovery-server

eureka:
    client:     
        register-with-eureka: false # Discovery server will not registry self
        fetch-registry: false
        serviceUrl:
            defaultZone: http://localhost:8761/eureka/
    server:
        enable-self-preservation: true
        wait-time-in-ms-when-sync-empty: 0 # Check the health of services 
        