.component {
    background: linear-gradient(0deg, rgba(254, 254, 255, 1) 0%, rgba(254, 254, 255, 1) 100%);
    height: 374px;
    position: relative;
    width: 1002px;
}

.component .ellipse {
    background-color: #a8cfff;
    border: 2px solid;
    border-color: #eaf4ff;
    border-radius: 141px;
    filter: blur(24px);
    height: 282px;
    opacity: 0.8;
    position: absolute;
    width: 282px;
}

.component .div {
    background-color: #e4a9e2;
    border: 2px solid;
    border-color: #eaf4ff;
    border-radius: 141px;
    filter: blur(24px);
    height: 282px;
    opacity: 0.8;
    position: absolute;
    width: 282px;
}

.component .ellipse-2 {
    background-color: #dac7ff;
    border: 2px solid;
    border-color: #eaf4ff;
    border-radius: 141px;
    filter: blur(24px);
    height: 282px;
    opacity: 0.8;
    position: absolute;
    width: 282px;
}

.component.variant-5 {
    left: 20px;
    top: 1487px;
}

.component.frame-93 {
    left: 20px;
    overflow: hidden;
    top: 572px;
}

.component.frame-91 {
    left: 1118px;
    top: 787px;
}

.component.frame-86 {
    left: 20px;
    top: 20px;
}

.component.frame-92 {
    left: 20px;
    top: 1093px;
}

.component.variant-5 .ellipse {
    left: 353px;
    top: 13px;
}

.component.frame-93 .ellipse {
    left: 376px;
    top: 13px;
}

.component.frame-91 .ellipse {
    left: 161px;
    top: 74px;
}

.component.frame-86 .ellipse {
    left: 331px;
    top: 13px;
}

.component.frame-92 .ellipse {
    left: 603px;
    top: 46px;
}

.component.variant-5 .div {
    left: 147px;
    top: 57px;
}

.component.frame-93 .div {
    left: 192px;
    top: 93px;
}

.component.frame-91 .div {
    left: 297px;
    top: 5px;
}

.component.frame-86 .div {
    left: 103px;
    top: 74px;
}

.component.frame-92 .div {
    left: 372px;
    top: 67px;
}

.component.variant-5 .ellipse-2 {
    left: 411px;
    top: 74px;
}

.component.frame-93 .ellipse-2 {
    left: 376px;
    top: 93px;
}

.component.frame-91 .ellipse-2 {
    left: 579px;
    top: 67px;
}

.component.frame-86 .ellipse-2 {
    left: 521px;
    top: 74px;
}

.component.frame-92 .ellipse-2 {
    left: 148px;
    top: 13px;
}
