server:
    port: 8086

spring:
    application:
        name: notification-service
    mail:   
        host: stmp.gmail.com
        port: 587
        username: vunguyens3rdvvv2919@gmail.com
        password: gwor tahp cakz fgri # App password
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
        test-connection: false
